.root {
    -fx-background-image: url("../img/money2.jpg");
}

.orange {
-fx-background-color:
linear-gradient(#ffd65b, #e68400),
linear-gradient(#ffef84, #f2ba44),
linear-gradient(#ffea6a, #efaa22),
linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
-fx-background-radius: 30;
-fx-background-insets: 0,1,2,3,0;
-fx-text-fill: #654b00;
-fx-font-weight: bold;
-fx-font-size: 14px;
-fx-padding: 10 20 10 20;
}

.orange:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
}


#black:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-opacity: 0.6;*/
}

.hyperlink {
    -fx-font-size: 9pt;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    /*-fx-text-fill: white;*/
    /*-fx-opacity: 0.6;*/
}

.hyperlink:visited {
    -fx-font-size: 9pt;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    /*-fx-opacity: 0.6;*/
}

.check-box {
    -fx-font-size: 9pt;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-text-fill: #010e0a;
    -fx-background-color: #0ca67d;
    -fx-background-radius: 10;

}

.radio-button {
    -fx-font-size: 9pt;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field:disabled {
    -fx-background-color: #eaeaea;
}

/*.sp:disabled {*/
/*-fx-background-color: #484c4c;*/
/*}*/