.root {
    -fx-background-image: url("../img/connexion.jpg");
}

.button:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: "Century Gothic";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    /*-fx-opacity: 0.6;*/
}

.hyperlink {
    -fx-font-size: 9pt;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    /*-fx-opacity: 0.6;*/
}

.hyperlink:visited {
    -fx-font-size: 9pt;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-text-fill: #19b2cc;
    /*-fx-opacity: 0.6;*/
}

.check-box {
    -fx-font-size: 9pt;
    -fx-font-family: "Century Gothic";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}