.root {
    -fx-background-image: url("../img/connexion.jpg");
}

.button:hover {
    -fx-background-color: green;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 13pt;
    -fx-font-family: "Garamond";
    -fx-text-fill: white;
    /*-fx-opacity: 0.6;*/
}

.hyperlink {
    -fx-font-size: 9pt;
    /*-fx-opacity: 0.6;*/
}

.check-box {
    -fx-font-size: 9pt;
    -fx-text-fill: white;
}